@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff87179e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #96500e9e;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

#navbar-list li a.active {
  color: orange;
}

#navbar-side2 li a.active {
  color: orange;
}

.bg-lighter {
  background-color: #fbfaf6;
}

.bg-darkest {
  background-color: #1e1e1e;
}

.slick-prev:before, .slick-next:before {
  font-size: xx-large;
  color: #FF8717; /* Ganti warna putih menjadi warna yang diinginkan */
}


.hero-left {
  background-image: url(../img/Group\ 103.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-right {
  background-image: url(../img/bg_07\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rekomend {
  background-image: url(../img/Rectangle\ 14.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.slick-slide {
  width: 100%;
  height: fit-content;
  padding-right: 20px;
  display: flex;
}

/* Styling untuk masing-masing dot */
.slick-dots li button:before {
  font-size: 12px; /* Ukuran dots */
  color: gray; /* Warna dots default */
}

/* Styling untuk dot aktif */
.slick-dots li.slick-active button:before {
  color: orange; /* Warna dots aktif */
}

/* Tambahkan efek transisi untuk dots */
.slick-dots li button:before {
  transition: color 0.3s ease;
}

/* Tambahkan margin antara dots */
.slick-dots li {
  margin: 0;
}

.model button.active {
  background-color: orange;
}

/* .navigation-buttons {
  margin-bottom: 10px;
}

.navigation-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
} */
