@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
}

#navbar-list li a.active {
  color: orange;
}

#navbar-side2 li a.active {
  color: orange;
}

footer {
    background-color: #1E1E1E;
}


